{% extends "base.html" %}
{% block title %}Listando os livros{% endblock %} 
{% block content %}

    <h1>Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Number Pages</th>
                <th scope="col">Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.number_of_pages}}</td>
                <td>{{book.rate}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}